/* body styles */
body {
    background-color: #b1b5be;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* header styles */
header {
    background-color: #9f2063;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

/* aside styles */
#aside1 {
    background-color: #116395;
    font-size: 22px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#aside2 {
    background-color: #25a4b5;
    font-size: 22px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

/* main styles */
main {
    background-color: #22b778;
    margin: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* article/column styles */
article {
    background-color: #e4195b;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    width: 80%;
}

/* footer styles */
footer {
    background-color: #e06b26;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}